[Unit]
Description=startup apps
After=display-manager.service

[Service]
Type=simple
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=%h/.local/bin/scripts/startup-apps.sh
Restart=on-failure

[Install]
WantedBy=default.target
